.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.mopu-profile-thumnail {
    height: 41px;
}
.mupo-movie-thumbnail {
    height: 145px;
    margin-right: 10px;
    float: left;
}

.mupo-movie-info {
    padding-left: 10px;
}

.mupo-movie-info-buttons {
    padding-left: 10px;
}
