  <div class="jumbotron mupo-jumbotron-home" ng-controller="LoginCtrl" ng-show-auth="logout">
    <h1>Drop me a movie!</h1>
    <p class="lead">Share your profile with people and let them drop movies to you. They can be your friends or anonymous.</p>
    <p><a class="btn btn-lg btn-primary mupo-btn-facebook" ng-click="login()" role="button"><i class="fa fa-facebook fa-fw"></i> Login with Facebook</a></p>
  </div>

  <div class="row marketing">
        <div class="col-lg-6">
          <h4>Personalized</h4>
          <p>Your friends know who you are and they know what movies you would like.</p>

          <h4>Social</h4>
          <p>Check which movies your friends watched. Interact with them by giving recommendations.</p>
        
        </div>
        <div class="col-lg-6">
          <h4>Fun</h4>
          <p>Being anonymous is always fun. Have fun with your friends.</p>

          <h4>History</h4>
          <p>Keep a list of movies that you watched and you will watch later.</p>

        </div>
  </div>