<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script src="main.js" type="text/javascript"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>

<div ng-app="myApp">

<!-- <input type="text" ng-model="data.message">
<h1>{{data.message + " world!"}}</h1>
 -->


<div ng-controller="FirstCtrl">    
    <input type="text" ng-model="data.message">
    <h1>{{data.message + " world!"}}</h1>
</div>




<div ng-controller="SecondCtrl">    
    <input type="text" ng-model="data.message">
    <h1>{{reverseMessage(data.message) + " world!"}}</h1>
</div>

</div>
    
</body>
</html>